body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }
h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Luminari' fantasy;
  font-size: 24px;
  color: #333;
}
h3 {
  font-family: Luminari fantasy;
  font-size: 16px;
}
p {
  font-family: Gill Sans, sans-serif;
  font-size: 12px;
}
h2 {
  position: absolute;
  top: 85px;
  left: 20px;
  right: 400px;
  z-index:  1000;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Gill Sans, sans-serif;
  font-size: 13px;
  color: #333;
  transition: opacity 0.3s ease;
}
.hidden {
      opacity: 0;
      display: none;
    }
#toggle-btn {
  position: absolute;
  top: 47px;     
  left: 478px;
  z-index: 1000; 
  padding: 8px 16px;
  background-color: #8056BF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#toggle-btn:hover {
  background-color: #005f80;
}
